<div class="col-lg-8 mx-auto p-3 py-md-5">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <img src = "{{ .Site.Params.siteLogo }}" width="{{ .Site.Params.siteLogoWidth }}" height="{{ .Site.Params.siteLogoHeight }}" alt="My Happy SVG"/>
      <a href="{{ $.Site.BaseURL }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        
        <span class="fs-4">{{ .Site.Params.headerText }} </span>
      </a>

      <nav class="nav nav-pills justify-content-end" > 
        {{ range .Site.Menus.main }}
         <a class="nav-link" href="{{ .URL }}"> 
        {{ if .Pre }}
        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
        {{ $icon }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a> 
        {{ end }}
      </nav> 
    </header>
  </div>

